@font-face {
  font-family:SourceSansProLight; 
  src: url("../fonts/sourcesanspro/SourceSansPro-Light.otf");
}

@font-face {
  font-family:MontserratBold;
  src: url("../fonts/Montserrat/montserrat-semibold.woff");
}

@font-face {
  font-family:BebasneueBold;
  src: url("../fonts/Bebas_Neue/bebasneue_bold-webfont.woff");
}

@font-face {
  font-family:MontserratSemiBold;
  src: url("../fonts/Montserrat/montserrat-semibold\ \(1\).woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #f8f8f8;
}

h3 {
  font-weight: 300;
  font-family: 'BebasneueBold',Helvetica, sans-serif;
  letter-spacing: .05em;
}

i:hover {
  cursor: pointer;
}

.header{
  position: fixed;
  width: 100%;
  z-index: 99999;
  top: 0;
}

.header img {
  position: absolute;
  top: 0;
  height: 120px;
  z-index: 1;
}

.first-header {
  height: 40px;
  background: #1a1a1a;
  color: red;
}

.first-header .social-icons {
  margin-right: 10%;
  float: right;
  line-height: 40px;
}

.social-icons i {
  /* color: red; */
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.left-icons {
  float: left;
  line-height: 40px;
  margin-left: 10%;
  color: white;
  font-size: 14px;
  letter-spacing: 1.2px;
}



.left-icons:hover {

}

.container {
  position: relative;
  height: 80px;
  background: #c70101;
}

.nav {
  position: absolute;
  right: 0;
  margin-right: 10%;
}

.container li {
  list-style-type: none;
  float: left;

}

.container li a {
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  line-height: 80px;
  color: #f2f2f2;
  padding: 0px 15px;
  display: block;
  font-family: MontserratBold;
  text-transform: uppercase;
  font-weight: normal;

}

.container li a:hover{
  border-bottom: 2px solid #fff;
  box-shadow: 0px 1px rgba(0,0,0,.5);
}

.content{
  color: red; 
}

.content .img-content {
  padding-top: 50% ;
  margin-top: 120px;
  background: url('/bai_cuoi_khoa/img/slide.jpg') top center no-repeat;
  background-size: cover;
}

.content .big-match {
  height: 300px;
  background: grey;
  /* margin-top: 120px; */
  padding:0 0 26% 0;
  /* background: url('img/match.jpg') center no-repeat; */
  /* background-size: cover; */
  position: relative;

}

.big-match .home-person {
  position: absolute;
  width: 20%;
  left: 0;
}

.big-match .home-person img{
  width: 100%;
}

.big-match .visit-person {
  position: absolute;
  width: 20%;
  right: 0px;
}

.big-match .visit-person img{
  width: 100%;
}

.text-content{
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  margin-top: 50px;
  text-align: center;
}

.text-content p{
  margin-top: 50%;
}

.logo-matchday.home{
  position: absolute;
  left: 25%;
  text-align: center;
}

.logo-matchday.visit{
  position: absolute;
  right: 25%;
}

.logo-matchday .name-club {
  margin-top: 10px;
}

.logo-matchday  img {
  margin-top: 50%;
}

.news {
  margin: 0 auto;
  width: 90%;
}

.news .title-news {
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
}

.title-news h1 {
  text-align: center;
}

.news .item {
  background: #fff;
  height: 400px;
  float: left;
  border: 1px #f2f2f2;
  /* margin-right: 10px; */
  
}

.news .item.n1 {
  width: 48%;
  height: 360px;
  position: relative;
  border: 1px solid #f2f2f2;
}

.first.item.n1 {
  margin-right: 4%;
}

.item.n1 .first-n1 {
  position: relative;
  height: 100%;
  width: 48%;
  float: left;
  overflow: hidden;

}

.img-news {
  background-image: url(/bai_cuoi_khoa/img/news1-img.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: -10px 0;
  transition:  .5s ease-in-out;
}

.item.n1 img {
  /* position: absolute; */
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.second-n1 {
  float: left;
  width: 52%;
  padding: 20px 0px 16px 0;
  position:relative;
  height: 100%;
  overflow: hidden;
}

.second-n1 .news-heading{
  margin-top:20%;
  margin-left: 10px;
  width: 61px;
  position: relative;
}

.second-n1 .news-heading::after {
  content: "";
  width: 0px;
  position: absolute;
  top: -10px;
  border-top: 2px #c81617 solid;
  transition:all ease-in-out .5s;

}

.item:hover .news-heading::after {
  width: 61px;
}

.second-n1 .news-p {
  margin-top: 5%;
  margin-left: 10px;
  margin-right: 10px;
}

.second-n1 .news-p p {
  font-size: 20px;
}

.item:hover {
  box-shadow: 0 14px 28px rgb(0 0 0 / 10%),
  0 10px 10px rgb(0 0 0 / 10%);
}

.item:hover .img-news {
  transform: scale(1.1);
  transition-duration: 0.5s;

  /* transition: transform 4s cubic-bezier(0.19,1,.22,1); */

}

/* .item .news-heading:hover{
  transform: scaleX(1);

} */
.item.n2 {
  margin-top: 20px;
  width: 22%;
  margin-right: 4%;
  height: 360px;
  position: relative;
  color:white;


}

.item.n2 img{
  transition: .5s ease-in-out ;
  
}

.item.n2 img:hover{
  transform: scale(1.1);
  transition-duration: 0.5s;
}

.item.n2 .first-n2 {
  height: 100%;
}

.item.n2.second {
  height: 360px;
  margin-right: 0;
}
.item.n2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item {
  border-radius: 10px;
  overflow: hidden;
}

.title-youtube {
  position: absolute;
  bottom: 10%;
  left:4%;
  z-index: 20;
  font-weight: 400;
}

.title-info {
  position: absolute;
  bottom: 2%;
  left:4%;
  z-index: 20;
  font-weight: 400;
  width: 100%;
}

.icon-share {
  background-image: url(../img/icons-J5Vfiqzk9.png);
  background-position: -966px 0;
  height: 15px;
  width: 13px;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 2%;
  right: 23px;
  transform: scale(0.9);
}
.icon-share:hover {
  transform: scale(1.2);
  transition: all ease-out ;
}

.icon-youtube {
  position: absolute;
  bottom: 20%;
  left: 4%;
  width: 52px;
  height: 52px;
  background: #c70101;
  border-radius: 4px;
  z-index: 20;

}

.icon-youtube .play-button {
  background: url('/bai_cuoi_khoa/img/icons-J5Vfiqzk9.png');
  background-position: -720px 0;
  margin-left: 50%;
  height: 17px;
  width: 12px;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 20;
  bottom: 20%;
}

/* about-us.html */
.slider {
  background: url('/bai_cuoi_khoa/img/about-us.jpg') top center /cover no-repeat;
  margin-top: 120px;
  width: 100%;
  height: 500px;
  position: relative;
}

.color-slider {
  background: linear-gradient(185deg,rgba(0,0,0,0) 20%,rgba(0,0,0,.9) 80%);
  height: 40%;
  width: 100%;
  position:absolute;
  bottom: 0;
  z-index: 18;
}

.name-special {
  font-family: 'BebasneueBold';
  position: absolute;
  left: 10%;
  bottom: 0;
  padding: 0 20px 20px 20px;
  color: #f8f8f8;
  text-transform: uppercase;
  z-index: 100;
  font-size: 72px;
  text-align: left;
  font-weight: 400;
}

.content-mid {
  width: 544px;
  margin: 0 auto;
  font-family: SourceSansProLight,Helvetica,sans-serif;
  color: #231f20;
  margin-bottom: 5%;
}

.content-mid .description .intro-description{
  margin: 20px 0px;
  font-size: 24px;
}

.content-mid .description p{
  margin-bottom: 16px;
  font-size: 20px;
}
/* TEAM HTML--------------- */
.content-picture {
  width: 80%;
  margin: 0 auto;
}

.content-picture .item-gallery {
  background-image: url("../img/about-us-box.jpg");
  background-size: cover;
  width: 48%;
  height: 333px;
  margin-left: 1%;
  margin-right: 1%;
  float: left;
  background-color: #1a1a1a;
  margin-bottom: 24px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.gallery-name {
  font-family:'BebasneueBold' ;
  position: absolute;
  bottom: 15%;
  left: 10%;
  font-size: 32px;
  color: #f2f2f2;
  z-index: 20;

}

.gallery-name::before {
  content: "";
  border: 1px solid #c70101;
  width: 61px;
  position: absolute;
  margin-top: -10px;
}

.fa-solid.fa-chevron-down {
  margin-left: 15px;
}

.subnav {
  width: 6%;
  background: #1a1a1a;
  position: absolute;
  z-index: 1000000;
  border-radius: 0 0 8px 8px ;
  display: block;
  display:none;
}

.left-icons{
  font-family: SourceSansProLight;
}

.subnav li {
  list-style-type: none;
  border-bottom: 1px solid rgba(255,255,255,.1);
  height: 39px;
}

.subnav a {
  color: white;
  text-decoration: none;
  /* display: block; */
  font-size: 16px;
  padding: 9px 7px;
}

.left-icons:hover .subnav {
  display:unset;
  display:block;
}

.left-icons:hover .fa-solid.fa-chevron-down {
  transform: rotate(180deg);
}

.player {
  width: 100%;
}

.player-box {
  margin-top: 67px;
  padding-top: 5%;
  /* margin-bottom: 2px; */
  margin-left: 5%;
  margin-right: 5%;
}

.name-box {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 10px;
  font-family: MontserratSemiBold;
  margin-left: 1%;
  margin-right: 1%;

}

.player-card {
  width: 100%;
  height: 200px;
  margin-top: 20px;
}

.show-player {
  background-image: url("../img/player1-gk.jpg");
  background-size: cover;
  width: 23%;
  margin-left: 1%;
  margin-right: 1%;
  height: 250px;
  float:left;
  background-color: black;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.info-player {
  padding:0 0 20px 16px;
  position: absolute;
  bottom: 0;
  z-index: 100;
  color: #ffffff;
}

.info-player .number-player {
  position: relative;
  font-family: MontserratSemiBold;
  margin-bottom: 16px;
}


.info-player .number-player::after {
  content: "";
  border-bottom: 1px solid #c70101;
  width: 24px;
  bottom: -8px;
  left: 0;
  position: absolute;
}

.info-player .first-name-player{
  position: relative;
  font-family: BebasneueBold;
  font-size: 32px;
  height: auto;
  float: left;
  width: 100%;
  line-height: 32px;

}

.info-player .last-name-player{
  position: relative;
  font-family: BebasneueBold;
  height: auto;
  font-size: 32px;
  line-height: 32px;
}
